<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Welcome To The User Index Page</h1>
      <p>Here's a list of all the currently registered users.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Do Someting »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Do Another Thing »</a></p>
    </div>
    <div class="col-md-4">
    <div class="bignail"></div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="smallthings">
      <% @users.each do |user| %>
    	<div class="col-md-4">
        <a href='<%= user_path(user) %>'><b><%= user.first_name %></b></a><br />
        Role: <%= user.role %><br />
        Enabled: <%= user.enabled %><br />
      </div>
      <% end %>
    </div>
  </div>
</div>
