<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Welcome to the Pub!!!</h1>
      <p>The Pub Shop offers food and beer items ready for an at-home pub night. Recreate the pub experience for you and your friends.</p>
      <p><a class="btn btn-primary btn-lg" href= <%= new_user_path %> role="button">Join the Pub Shop! »</a></p>
    </div>
    <div class="col-md-4">
      <div class="welcome_dog"></div>
    </div>
  </div>
