<h1><%= @user.first_name %>  <% @user.last_name %>'s items' </h1>

<% @items.each do |item| %>
  <p>============================</p>
  <p>Item name: <%= item.name %></p>
  <p>Item price: <%= item.price %></p>
  <p>Item description: <%= item.description %></p>
  <p>============================</p>
<% end %>
