/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container { margin-bottom: 0;
             padding:5px 0 5px 0;
             font-family: fantasy;}

.navbar    { margin-bottom: 0;
             padding:10px 0 5px 0;
             font-family: fantasy;}

.jumbotron { margin-top: 5;
             margin-bottom: 5;
             padding:0 0 0 0;
             font-family: fantasy;}

.row       { display: table; }

hr         { width: 100%;
             margin-left: auto;
             margin-right: auto;
             border-color: black}


.title     { display: flex;
             justify-content: center;
             color: white; font-family: fantasy;}

.supertitle {color: yellow;
             font-family: fantasy;}

.thumbnail { width: 110px;
             padding: 0;}

.bignail   { width: 180px;
             height: 180px;
             background-image: url("santa-beer.jpg");
             background-size: cover;
            }

.smallthings {font-size: .9em;
              float: none;
              display: table-cell;
              vertical-align: top;}

.boxed     { border: 1px solid cyan;
             color: white}

.login_beer   { width: 180px;
            height: 180px;
            background-image: url("beer_login.jpg");
            background-size: cover;
           }

.welcome_dog   { width: 375px;
            height: 250px;
            background-image: url("welcome_dog.gif");
            background-size: cover;
           }

.beer_regi   { width: 350px;
            height: 350px;
            background-image: url("beer_regi.jpg");
            background-size: cover;
           }

.cheers   { width: 350px;
           height: 330px;
           background-image: url("Atom.gif");
           background-size: cover;
          }
