<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Item addition!</h1>


      <p>Add Items above.</p>
    </div>
    <div class="col-md-4">
      <div class="beer_regi"></div>
    </div>
  </div>
